---
import Mainlayout from "./layout/Mainlayout.astro";
---
<Mainlayout>
<div class="over">
    <div class="tekst_container_1">
        <div class="overskrift"> 
            <h1>Kabomanis <span style="font-style: italic;">koncept</span></h1>
        </div>
        <div><p>Hos Kabomani har vi udviklet et cirkulært koncept, der giver dig  mulighed for at fornye din garderobe helt uden at bruge penge. Som sælger slipper du for  besværet med at forhandle priser og håndtere uforudsigelige aftaler. I  stedet modtager du penge direkte ind på din Kabomani-konto, som du kan  bruge til at købe nyt tøj fra vores sortiment. <br><br>

            Kabomani’s cirkulære koncept gør det muligt at shoppe bæredygtigt og  økonomisk, samtidig med at vi styrker fællesskabet omkring genbrug og  mode. Forny din garderobe, spar penge, og vær en del af en grønnere  fremtid hos Kabomani!</p></div>     
    </div>
    <div class="billede1">
        <img src="/vectors/ombillede.svg" alt="forside">
    </div>
</div>

<div class="pil_1">
    <div> 
        <h1>How to<span style="font-style: italic;"> sell </span></h1>
    </div>
    <div>
        <img src="/vectors/pil.svg" alt="pil">
    </div>
</div>

<div class="container_2_1">
<div class="container_2">
    <div class="animation">
        <script class="animation" src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
<dotlottie-player class="animation-player" src="https://lottie.host/4aaf537e-1f74-4c77-9ea6-d0db611956c6/UDteRJjwaA.json" background="transparent" speed="1" autoplay></dotlottie-player></div>
    <div class="tekst_container_2">
    <div class="container_2_2">
        <div>
            <h1>Step 1</h1>
        </div>
        <div>
            <p>Download vores app i appstore og oprette en bruger. <br> <br>Sæt dit tøj tøj til salg i appen.
            </p>
        </div>
    </div>
</div>
</div>
<div class="pil_2">
<img src="/vectors/pil.svg" alt="pil">
</div>
</div>

<div class="container_3">
        <div class="tekst_container_3">
          <div>
            <h1>Step 2</h1>
        </div>
        <div>
            <p>Kom ned i en af vores butikker og hæng det op med et prismærke. Vi sætter det på display for dig vores butik. <br> <br>Hver gang du sælger et stykke tøj, bliver pengene overført til din saldo i vores app. Du kan vælge at få dem udbetalt, eller bruge dem på nyt tøj hos Kabomani. </p>
        </div>
    </div>
         <div class="animation">
        <script class="animation" src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <dotlottie-player class="animation-player1" src="https://lottie.host/6a33073d-a33d-48b9-9e18-881ddedbc25e/p5sk7HsxjE.json" background="transparent" speed="1" autoplay></dotlottie-player>
        </div>
</div>

<div class="aabningstider_container">
    <div class="overskrift4" >
       <h2>Åbningstider</h2>
    </div>
    
    <div class="butikker">
        <div class="amager">
             <div >
                <h3>Kabomani <span style="font-style: italic;"> Amagerbro</span>
                </h3>
            </div>
         <div class="oplysninger">
             <div class="dage">
                <h5>Mandag</h5>
                <h5>Tirsdag</h5>
                <h5>Onsdag</h5>
                <h5>Torsdag</h5>
                <h5>Fredag</h5>
                <h5>Lørdag</h5>
                <h5>Søndag</h5>
            </div>
             <div class="tider">
                <h5>11.00-19:00</h5>
                <h5>11.00-18:00</h5>
                <h5>11.00-18:00</h5>
                <h5>11.00-18:00</h5>
                <h5>11.00-18:00</h5>
                <h5>11.00-18:00</h5>
                <h5>11.00-18:00</h5>
            </div>


    </div>
</div>
    <div >
         <div class="amager">
            <h3>Kabomani <span style="font-style: italic;"> Frederiksberg</span>
            </h3>
        </div>
     <div class="oplysninger">
         <div class="dage">
            <h5>Mandag</h5>
            <h5>Tirsdag</h5>
            <h5>Onsdag</h5>
            <h5>Torsdag</h5>
            <h5>Fredag</h5>
            <h5>Lørdag</h5>
            <h5>Søndag</h5>
        </div>
         <div class="tider">
            <h5>11.00-19:00</h5>
            <h5>11.00-18:00</h5>
            <h5>11.00-18:00</h5>
            <h5>11.00-18:00</h5>
            <h5>11.00-18:00</h5>
            <h5>11.00-18:00</h5>
            <h5>11.00-18:00</h5>
        </div>


    </div>
</div>
</div>
 </div>

<div class="kundeservice_container">
    <div class="overskrift5">
         <h1>Kontakt <span style="font-style: italic">kundeservice</span>
        </h1>
    </div>
    <div class="oplysninger_container">
        <h5>Tlf: 30687334</h5>
        <h5>Email: support@tapirus.dk</h5>
        <h5>CVR: 40487093</h5> 
    </div>
</div>


</Mainlayout>
<script>
// 'DOMContentLoaded' udløses, hvilket indikerer, at HTML-dokumentet er blevet fuldt indlæst og analyseret
document.addEventListener('DOMContentLoaded', function() {
    // Hent animationselementet ved hjælp af dets klasse
    const animation = document.querySelector('.animation-player');

    // Opret en observer, som vil overvåge, når animationselementet kommer ind i visningen
    const observer = new IntersectionObserver((entries) => {
        // For hver indgang i observeringens resultater
        entries.forEach(entry => {
            // Hvis elementet er inden for visningen
            if (entry.isIntersecting) {
                // Nulstil afspilningshovedet til starten af ​​animationen
                animation.seek(0);
                // Afspil animationen
                animation.play();
            }
        });
    });

    // Start observeren og begynd at observere animationselementet
    observer.observe(animation);
});

        document.addEventListener('DOMContentLoaded', function() {
            const animation = document.querySelector('.animation-player1');

            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    console.log ("hehe")
                    if (entry.isIntersecting) {
                        animation.seek(0);
                        animation.play();
                    }
                });
            });

            observer.observe(animation);
        });
</script>

<style>
 @media (min-width: 790px) {
.over {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left:50px;
    padding-top: 50px;

}
.container_2_2{
    text-align: end;
}
.container_2_2 p {
    font-family: "Mazius Display";
        line-height: 50px;
}
.container_2_2 h1 {
color:rgba(132, 149, 0, 1) ;
}
.pil_2 {
    display: grid;
    justify-items: center;
}
.animation{
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding-right: 100px;
}
.container_2_1{
    background-color: rgba(243, 236, 217, 1);
    padding-bottom: 50px;
}
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    margin-top: 100px;
    align-items: center;
}
.pil_1, .pil_1 h1{
    text-align: center;
    color:rgba(132, 149, 0, 1);
}
    .overskrift h1{
        color:rgba(132, 149, 0, 1);
        font-weight:400;
    }
        .tekst_container_1{
        display:grid;
        
        justify-content:center;
    }
    .tekst_container_1 p {
        font-family: "Mazius Display";
        line-height: 50px;
    }
    .billede1{
        display: grid;
        margin-top: 50px;
        justify-items: center;
        align-self: center;
    }
    .billede1 img {
        width:50%;
    }
    .container_3 {
        display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;

    }
    .tekst_container_3 h1{
color:rgba(132, 149, 0, 1);
    }
    .aabningstider_container{
        background-color: rgba(243, 236, 217, 1) ;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 200px;
        padding-left: 200px;
    }
    .overskrift4 h2{
        text-align: center;
        color:rgba(132, 149, 0, 1) ;
    }
    .oplysninger{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .butikker{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .amager h3 {
     text-align: center;
     color: rgba(132, 149, 0, 1) ;
    }
    .container_2_2 p {
        font-family: ;
    }
.kundeservice_container{
    display: grid;
    justify-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;

}
.overskrift5 h1 {
    color: rgba(81, 60, 34, 1);
}
.tekst_container_3 p {
    font-family: "Mazius Display";
        line-height: 50px;
}
 }
    @media (max-width: 790px) {
        .tekst_container_1{
        display:grid;
        align-items: center;
        margin-left:50px;
        margin-right: 50px
    } 
    .container_2_1{
    background-color: rgba(243, 236, 217, 1);
    padding-bottom: 100px;
}
.pil_2 {
    display: grid;
    justify-items: center;
}
.billede1 img {
    width: 50%;
}
.tekst_container_1 p {
        font-family: "Mazius Display";
        line-height: 50px;
    }
    .container_2_2{
    margin-right: 40px;
    margin-left: 40px;
    order: 1;
}
.container_2_2 p {
    font-family: "Mazius Display";
        line-height: 50px;
}
.container_2_2 h1 {
color:rgba(132, 149, 0, 1) ;
}
.animation{
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    order: 2;
}
.container_2{
    background-color: rgba(243, 236, 217, 1);
    display: grid;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 100px;
} 
.tekst_container_3 p {
    font-family: "Mazius Display";
        line-height: 50px;
}

    .pil_1, .pil_1 h1{
    text-align: center;
    color:rgba(132, 149, 0, 1);
}
    .tekst_container_1 img {
        margin-top:50px;
    }
    .billede1{
        display: grid;
        margin-top: 50px;
        justify-items: center;
        align-self: center;
        padding-bottom: 50px;
    }
    .overskrift h1{
        color:rgba(132, 149, 0, 1);
        font-weight:400;
    }
    .container_3 {
        display: grid;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;

    }
    .tekst_container_3 h1{
color:rgba(132, 149, 0, 1)
    }
    .aabningstider_container{
        background-color: rgba(243, 236, 217, 1) ;
        padding: 100px;

    }
    .overskrift4 h2{
        text-align: center;
        color:rgba(132, 149, 0, 1) ;
    }
    .oplysninger{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .butikker{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .over {
        padding-top: 50px;
    }
    .amager h3 {
     text-align: center;
     color: rgba(132, 149, 0, 1) ;
    }
    .kundeservice_container{
    display: grid;
    justify-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;

}
.overskrift5 h1 {
    color: rgba(81, 60, 34, 1);
}
    }
</style>