
<div class="filtreringsystem">
    <div class="filter-section">
    <div class="filter-header">
        Afdeling <span class="arrow"><img src="/public/vectors/arrow.svg" alt="pil"></span>
    </div>
</div>
<div class="filter-section">
    <div class="filter-header" >
        Forretning <span class="arrow"><img src="/public/vectors/arrow.svg" alt="pil"></span>
    </div>
</div>
<div class="filter-section">
    <div class="filter-header">
        Størrelser <span class="arrow"><img src="/public/vectors/arrow.svg" alt="pil"></span>
    </div>
</div>
<div class="filter-section">
    <div class="filter-header">
        Farve <span class="arrow"><img src="/public/vectors/arrow.svg" alt="pil"></span>
    </div>
</div>
<div class="filter-section">
    <div class="filter-header">
        Stand <span class="arrow"><img src="/public/vectors/arrow.svg" alt="pil"></span>
    </div>
</div>
</div>

</div>
<style>

.filter-section {
padding-top: 50px;
border-bottom: 1px solid rgba(81, 60, 34, 1)
}

.filter-header {
display: flex;
justify-content: space-between;
cursor: pointer;
margin-left: 24px;
text-align: center;
font-family: Mattone;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.25px;
margin-bottom: 40px;

}
.filtreringsystem {
background-color: #F3ECD9;
}
.arrow {
margin-right: 20px;
}



</style>